{% extends "views/layouts/admin.twig" %}

{% set galleryactive = true %}

{% block content %}
	<h1>Загрузка изображения</h1>
	 
	{% include 'views/galleryImages/_form.twig' with {'model': model, 'seo': seo} %}
{% endblock %}