{% extends "views/layouts/admin.twig" %}

{% set galleryactive = true %}

{% block content %}
	<h1>Редактирование изображения # {{ model.id }}</h1>
	 
	{% include 'views/galleryImages/_form.twig' with {'model': model} %}
{% endblock %}