{% extends "views/layouts/admin.twig" %}

{% set pageactive = true %}

{% block content %}
	<h1>Редактирование записи # {{ model.id }}</h1>
	{% include 'views/pages/_form.twig' with {'model': model, 'seo': seo, 'registry': registry} %}
{% endblock %}