{% set items = this.getGalleryBlock() %}

	{% for item in items %}
		<h2>Наши работы</h2>
		<div class="bs-gallery">
			{% for img in item.images %}
				{{ this.widget('ext.lyiightbox.LyiightBox2', {
	                'thumbnail' : img.thumb,
	                'image' : img.large,
	                'title' : img.description
	            }, true) | raw }}
			{% endfor %}
		</div>
	{% endfor %}
